
<!DOCTYPE html>
<html>
<head>
  <title>InstaSnatch</title>
</head>
<body>
  <h1>Welcome to InstaSnatch</h1>
  <p>Paste the Instagram story/reel/post URL below:</p>
  <form>
    <input type="text" placeholder="Paste URL here" />
    <button type="submit">Download</button>
  </form>
</body>
</html>
